<!DOCTYPE html>
<html lang="en">

<head>
    <title>dummy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">

        <div class="container">

            <a class="navbar-brand mr-auto text-dark font-weight-bold" href="#">Vidyalaya</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link text-dark font-weight-bold" href="#">
                            Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark font-weight-bold" href=" #" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Subjects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item font-weight-bold" href="#">Maths</a>
                            <a class="dropdown-item font-weight-bold" href="#">Science</a>
                            <a class="dropdown-item font-weight-bold" href="#">English</a>
                            <a class="dropdown-item font-weight-bold" href="#">Computer</a>
                            <a class="dropdown-item font-weight-bold" href="#">Social Studies</a>

                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark font-weight-bold" href="#">Free Counselling</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark font-weight-bold" href="#">
                            Log In</a></li>
                </ul>


            </div>

        </div>

    </nav>


    <header class="jumbotron">
        <div class="container">

            <div class="row row-header">
                <div class="col-12 col-sm-8">
                    <h1>Vidyalaya</h1>
                    <p>Vidyalaya is the world's most valuable ed-tech company and the creator of India's most loved
                        school learning app. Launched in 2020, Vidyalaya offers highly personalised and effective
                        learning programs for classes 1 - 12 (K-12).</p>
                </div>

            </div>
        </div>

    </header>

    <div class="container">
        <div class="row row-content">
            <div class="col">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="back2.jpg" alt="Uthappizza">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>What Makes Us Different? </h2>
                                <p class="d-none d-sm-block font-weight-bold">Our niche is creating personalised
                                    learning experiences for
                                    every type of learner. The Vidyalaya way of learning provides students a learning
                                    platform where they can learn, engage and be excited about charting their own path
                                    to discover the world.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="back3.jpg" alt="buffet">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Why Choose Us?</h2>
                                <p class="d-none d-sm-block font-weight-bold">Learning is pivotal for a student's
                                    success in academics
                                    and life. The Digital Age is deeply shaping the way students learn and will also
                                    determine their future prospects.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="back5.jpg" alt="alberto">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Engaging Video Lessons</h2>
                                <p class="d-none d-sm-block font-weight-bold">Videos that help you visualize each
                                    concept, making it
                                    easier to understand. Clearer concepts lead to higher scores!
                                </p>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#mycarousel" data-slide-to="1"></li>
                            <li data-target="#mycarousel" data-slide-to="2"></li>
                        </ol>
                        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-content align-items-center">
        <div class="col-12 col-sm-6 order-sm-first">
            <h3>Mapped to the Syllabus</h3>
            <p class="d-none d-sm-block">Learning journeys are mapped to a student's grade & syllabus (CBSE, ICSE, IB,
                State boards etc). Each chapter comprises small concepts that are stitched together with adaptive
                questions as per the relevant syllabus.</p>
        </div>
        <div class="col-12 col-sm-6 order-sm-last">
            <img class="d-flex mr-3 img-thumbnail align-self-center" src="back1.jpg" alt="Uthappizza">

        </div>
    </div>


    <div class="row row-content align-items-center">
        <div class="col-12 col-sm-6 order-sm-last">
            <h3>Unlimited Practice & In-depth Analysis</h3>
            <p class="d-none d-sm-block">Adaptive, interactive tests that help students master each chapter. Recommended
                videos prompt students to correct mistakes in a practice session, enabling long lasting learning.</p>
        </div>
        <div class="col-12 col-sm-6 order-sm-first">
            <img class="d-flex mr-3 img-thumbnail align-self-center" src="back2.jpg" alt="Uthappizza">

        </div>
    </div>

    <div class="row row-content align-items-center">
        <div class="col-12 col-sm-6 order-sm-first">
            <h3>Engaging Interactive Questions</h3>
            <p class="d-none d-sm-block">Crafted to evoke curiosity, this all-new feature will develop student's
                critical thinking abilities and strengthen their understanding of core concept.

            </p>
        </div>
        <div class="col-12 col-sm-6 order-sm-last">
            <img class="d-flex mr-3 img-thumbnail align-self-center" src="back3.jpg" alt="Uthappizza">

        </div>
    </div>

    </div>

    </div>
    <div class="row row-content">
        <div class="col-12 col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="shlok.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shlok Gadre</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Mollitia nisi incidunt
                        explicabo accusantium doloribus aliquam amet optio deleniti officiis tenetur, nostrum rerum
                        consequuntur et quia sapiente quis porro quas.</p>
                    <a href="#" class="btn btn-primary btn-md disabled" tabindex="-1" role="button"
                        aria-disabled="true">Know more</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="ketki1.jpg" alt=" Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ketki Paralikar</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis deleniti
                        omnis facilis quam pariatur, porro, consectetur sunt corrupti dolorem neque esse reiciendis
                        tempora consequatur, dicta molestiae architecto quasi voluptatem.</p>
                    <a href="#" class="btn btn-primary btn-md disabled" tabindex="-1" role="button"
                        aria-disabled="true">Know more</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Aadi.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Aaditya Paralikar</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum cum quo quos
                        sit porro nulla ut inventore labore, hic repellat officiis in dignissimos recusandae earum
                        provident voluptate officia cumque enim.
                    </p>
                    <a href="#" class="btn btn-primary btn-md disabled" tabindex="-1" role="button"
                        aria-disabled="true">Know more</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h5><i class="fa fa-phone fa-lg"></i> : +91 6354994475<br></h5>

                </div>

                <div class="col-12 col-sm-4">
                    <p>© Copyright 2020 theShloKetkiDiaries</p>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
                            class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                            class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                            class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                            class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
                            class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#mycarousel").carousel({ interval: 2000 });
            $("#carouselButton").click(function () {
                if ($("#carouselButton").children("span").hasClass('fa-pause')) {
                    $("#mycarousel").carousel('pause');
                    $("#carouselButton").children("span").removeClass('fa-pause');
                    $("#carouselButton").children("span").addClass('fa-play');
                }
                else if ($("#carouselButton").children("span").hasClass('fa-play')) {
                    $("#mycarousel").carousel('cycle');
                    $("#carouselButton").children("span").removeClass('fa-play');
                    $("#carouselButton").children("span").addClass('fa-pause');
                }
            });

        });
    </script>

</body>

</html>