<!DOCTYPE html>
<html lang="en">

<head>
    <title>homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cssfiles/index.css') }}">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">

        <div class="container">

            <a class="navbar-brand mr-auto text-dark font-weight-bold" style="font-family: cursive;"
                href="#">Vidyalaya</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link text-dark font-weight-bold" href="#">
                            Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark font-weight-bold" href=" #" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Subjects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item font-weight-bold" href="#">Maths</a>
                            <a class="dropdown-item font-weight-bold" href="#">Science</a>
                            <a class="dropdown-item font-weight-bold" href="#">English</a>
                            <a class="dropdown-item font-weight-bold" href="#">Computer</a>
                            <a class="dropdown-item font-weight-bold" href="#">Social Studies</a>

                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark font-weight-bold" href="#">Free Counselling</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark font-weight-bold" href=" #" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Your Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item font-weight-bold" href="#">Profile</a>
                            <a class="dropdown-item font-weight-bold" href="logout">Logout</a>


                        </div>
                    </li>
                </ul>


            </div>

        </div>

    </nav>





    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h5><i class="fa fa-phone fa-lg"></i> : +91 6354994475<br></h5>

                </div>

                <div class="col-12 col-sm-4">
                    <p>© Copyright 2020 theShloKetkiDiaries</p>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
                            class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                            class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                            class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                            class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
                            class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>